.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #55C;
    background-color: #E7E680;
}

.btn-outline:hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}