---
layout: home
title: home
---
{% assign slideNumber = 8 %}
	<!-- container -->
	<div class="container">

		<div class="row">
			<div class="box">
				<div class="col-lg-12 text-center">
					<div id="carousel-example-generic" class="carousel slide">
						<!-- Indicators -->
						<ol class="carousel-indicators hidden-xs">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							{% for i in (1..slideNumber) %}
							<li data-target="#carousel-example-generic" data-slide-to="{{ i }}"></li>
							{% endfor %}
						</ol>

						<!-- Wrapper for slides -->


						<div class="carousel-inner">
							<div class="item active">
								<img class="img-responsive img-full" src="img/slide-1.jpg" alt="">
							</div>

						{% for i in (2..slideNumber) %}
							<div class="item">
								<img class="img-responsive img-full" src="img/slide-{{ i }}.jpg" alt="">
							</div>
						{% endfor %}
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="icon-prev"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="icon-next"></span>
						</a>
					</div>
					<h2 class="brand-before">
						<small>Bienvenue</small>
					</h2>
					<h1 class="brand-name">AWEM B.B.A</h1>
					<hr class="tagline-divider">
					<h2>
						<small>
                            <strong>Agence Nationale de l'Emploi</strong>
                        </small>
					</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="box">
				<div class="col-lg-12">
					<hr>
					<h2 class="intro-text text-center">Services de
						<strong>L'ANEM</strong>
					</h2>
					<hr>
					<img class="img-responsive img-border img-left" src="img/intro-pic.jpg" width="300" alt="">
					<hr class="visible-xs">
					<p>Les services de l’Anem sont constitués notamment d’un réseau d’agences implantées sur tout le territoire national, en nombre assez suffisant et commodément situées pour leurs usagers qui sont les employeurs et les demandeurs d’emploi.</p>
					<p>Aussi, une agence peut compter dans sa circonscription quelques communes qui lui sont rattachées et qui constituent sa compétence géographique en matière d’enregistrement des offres d’emploi émanant des employeurs qui y sont implantés, ainsi que des demandes d’emploi exprimées par les demandeurs d’emploi qui y résident.</p>
					<p>En développant son réseau, l’Anem conserve et consolide une position essentielle dans le service public de l’emploi. Car dans l’absence de ses services dans certaines régions, ce sont bien entendu d’autres institutions qui prennent le relai localement. Ce développement lui permet en toute évidence d’accroitre son taux de pénétration, ce qui l’amène à pouvoir prétendre à endiguer le phénomène des recrutements directs et à juguler un tant soit peu l’emploi informel.</p>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="box">
				<div class="col-lg-12">
					<hr>
					<h2 class="intro-text text-center">
						<strong>Accompagnement</strong>
					</h2>
					<hr>
					<img class="img-responsive img-border img-left" src="/img/Accompagnement.jpg" width="300" alt="">

					<p>Favoriser l’insertion professionnelle des demandeurs d’emploi :</p>
						<ul>
							<li><p>Conseiller les demandeurs d’emploi dans leur démarche de recherche d'emploi.</p> </li>
							<li><p>Les aider à valoriser leurs atouts.</p></li>
							<li><p>Leur permettre d’améliorer leur employabilité.</p></li>
							<li><p>Faciliter la réalisation de leur projet professionnel.</p></li>
						</ul>


				</div>
				<div class="col-lg-12">
					<hr>
					<h2 class="intro-text text-center">
						<strong>Prise d'Offre d'Emploi</strong>
					</h2>
					<hr>
					<img class="img-responsive img-border img-left" src="/img/Offres.jpg" width="300" alt="">
					<ul>
						<p>Formaliser les besoins de l'employeur, en matière de recrutement, lors :</p>
						<li><p>Dépôt d'offres</p></li>
						<li><p>La visite d'entreprise</p></li>
						<li><p>Retour d'information de la recherche active</p></li>
					</ul>
				</div>
				<div class="col-lg-12">
					<hr>
					<h2 class="intro-text text-center">
						<strong>Mises En Relation</strong>
					</h2>
					<hr>
					<img class="img-responsive img-border img-left" src="/img/MiseRelation.jpg" width="300" alt="">
					<ul>
						<li><p>Assurer le suivi des offres d’emploi.</p></li>
						<li><p>Suivre les opérations d'orientations des demandeurs d’emploi vers les employeurs (MER).</p></li>
						<li><p>Prendre connaissance des résultats des opérations de Mise En Relation auprès des employeurs et les comptabiliser (Placements réalisés / non réalisés)</p></li>
						<li><p>Renégocier l'offre d’emploi lorsque les candidats proposés n'auront pas été retenus.</p></li>
						<li><p>Disposer d’informations fiables et actualisées sur le marché de l’emploi.</p></li>

					</ul>
				</div>

			</div>
		</div>

	</div>
	<!-- /.container -->
