 {% include head.html %}

<body>
	{% include header.html %}
	{% include menu.html %}
		{{ content }}
	{% include footer.html %}
	{% include slides.html %}

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<!-- Script to Activate the Carousel -->


	<script id="template" type="text/x-handlebars-template">
	<div class="entry">
		{% raw %}
		<h1>{{title}}</h1>
		
		{{#each slides}}
    		<li>{{this.path}} {{this.modified_time}} </li>
	  	{{/each}}

		<div class="body">
			{{body}}
		</div>
		{% endraw %}

	</div>
	</script>

	<script>
		$(function(){
			var source   = $("#slide-template").html();
			var template = Handlebars.compile(source);

			$.get( "/slides.json", function( data ) {
				var context = {slides : data.slides };
				var html    = template(context);

	  			$( ".slides-awem" ).html( html );

			});
		})
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>	
