 {% include head.html %}

<body>
	{% include header.html %}
	{% include menu.html %}
		{{ content }}
	{% include footer.html %}
	<div class="result">

	</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<!-- Script to Activate the Carousel -->


	<script id="slide-template" type="text/x-handlebars-template">
	<div class="entry">
		{% raw %}
		<h1>{{title}}</h1>
		
		{{#each slides}}
    		<li>{{this}}</li>
	  	{{/each}}

		<div class="body">
			{{body}}
		</div>
		{% endraw %}

	</div>
	</script>

	<script>
		$(function(){
			var source   = $("#slide-template").html();
			var template = Handlebars.compile(source);

			$.get( "/slides.json", function( data ) {
  			// $( ".result" ).html( data );
			  
				var context = {title: "My New Post", body: "This is my first post!", slides : data.slides };
				var html    = template(context);
				console.log(html);

			//   $.each(data.slides, function( index, value ) {
			//   		console.log("index: ", index);
			//   		console.log("data: ", value);

			// 	});
  			// $( ".result" ).html( html );m
			//   console.log("data: ", data);

			});
		})
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>	
